body {
    background: #1f1d2e;
    color: #e0def4;
}

html {
    scrollbar-color: #555169 rgba(0, 0, 0, 0.1);
}

a {
    color: #31748f;
}

.tabs-bar__wrapper {
    background: #1f1d2e;
}

.tabs-bar__link.active {
    border-bottom: 2px solid #eb6f92;
    color: #f6c177;
}

.notification__message .fa {
    color: #c4a7e7;
}

.status {
    border-bottom: 1px solid #31748f;
}

.icon-with-badge__badge {
    background: #9ccfd8;
    border: 2px solid #1f1d2e;
}

.search__input {
    border-radius: 4rem;
    background: #555169;
    color: #9ccfd8;
}

.icon-button.star-icon.active,
.notification__favourite-icon-wrapper .star-icon {
    color: #f6c177;
}

.icon-button {
    color: #31748f;
}

.notification__message {
    color: #6e6a86;
}

.muted .status__content,
.muted .status__content a,
.muted .status__content p,
.muted .status__display-name strong {
    color: #6e6a86;
}

.column-header.active .column-header__icon {
    color: #2b90d9;
    text-shadow: 0 0 10px rgb(43 144 217 / 40%);
}

.column-header.active .column-header__icon {
    color: #9ccfd8;
    text-shadow: 0 0 10px rgb(246 193 119 / 40%);
}

.icon-button.active {
    color: #ebbcba;
}

.text-icon-button {
    color: #eb6f92;
}

.column-link--transparent.active {
    color: #31748f;
}

.confirmation-modal__container,
.report-modal__target {
    background-color: #26233a;
    color: #e0def4;
}

.confirmation-modal__action-bar {
    background-color: #191724 !important;
    color: #e0def4;
}

.confirmation-modal,
.mute-modal,
.report-modal {
    background-color: #191724;
    color: #e0def4;
}

.button--block,
.logo-button {
    background-color: #31748f;
    color: #e0def4;
}

.button--block:hover {
    background-color: #9ccfd8;
    color: #e0def4;
}

.autosuggest-textarea__textarea {
    background-color: #26233a;
    color: #e0def4;
}

.compose-form,
.compose-form__buttons-wrapper {
    background-color: #1f1d2e;
    color: #e0def4;
}

.compose-form,
.compose-form__modifiers,
.compose-form__uploads-wrapper {
    background-color: #1f1d2e;
    color: #e0def4;
}

.poll__chart.leading {
    background: #9ccfd8 !important;
}

.poll__chart {
    background: #eb6f92 !important;
}

.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input {
    background: #393552;
    color: #e0def4;
}

.compose-form .compose-form__buttons-wrapper {
    background: #2a273f;
    color: #e0def4;
}

.drawer__header {
    background: none;
}

.drawer__inner__mastodon {
    background-color: #1f1d2e;
    background: #1f1d2e !important;
}

.compose-form__uploads-wrapper {
    display: none !important;
}

.column-header {
    background: #26233a;
}

.account__section-headline button,
.notification__filter-bar button {
    background: #191724;
}

.item-list {
    background: #1f1d2e;
}

.search__input {
    background: #26233a;
}

.navigation-bar {
    background: #26233a;
}

.column-header__button {
    background: #26233a;
}

.column-header__back-button {
    background: #26233a;
    color: #31748f;
}

.column-back-button {
    background: #26233a;
    color: #31748f;
}

.column-subheading {
    background: #555169;
    color: #e0def4;
}

.column-link {
    background: #555169;
}

.column-link:hover {
    background: #6e6a86;
}

.getting-started__footer {
    background: #26233a;
}

.detailed-status {
    background: #26233a;
}

.detailed-status__action-bar {
    background: #2a2837;
}

.column {
    background: #26233a !important;
}

.account__header__bar {
    background: #26233a !important;
}

.admin-wrapper {
    background: #1f1d2e;
}
.account__section-headline,
.notification__filter-bar {
    background: #191724;
    border-bottom: 1px solid #31748f;
}

.button.logo-button.button--destructive:focus,
.button.logo-button.button--destructive:hover {
    background: #eb6f92;
}

.button.logo-button {
    background: #31748f;
    color: #e0def4;
}

.button.logo-button:hover {
    background: #9ccfd8;
}

.column > .scrollable {
    background: #1f1d2e !important;
}

.reply-indicator {
    background: #6e6a86;
}

.react-toggle--checked .react-toggle-track {
    background-color: #31748f;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #9ccfd8;
}

.filter-form {
    background: #26233a;
}

.directory__card__bar {
    background: #191724;
}

.directory__card__extra {
    background: #1f1d2e;
}

.column-header__collapsible-inner {
    background: #6e6a86;
}

.admin-wrapper .sidebar-wrapper__inner {
    background: #26233a;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    color: #e0def4;
    background-color: #31748f;
}

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover {
    background-color: #9ccfd8;
}

.button {
    background-color: #31748f;
}

.button:active, .button:focus, .button:hover {
    background-color: #9ccfd8;
}

.announcements__item {
    background: #555169;
}

.box-widget {
    background: #26233a;
}

body.lighter {
    background: #1f1d2e;
}

.simple_form button {
    background-color: #31748f;
}

.simple_form button:hover {
    background-color: #9ccfd8;
}

.simple_form button.negative {
    background: #eb6f92;
}

.simple_form button.negative:hover {
    background: #ebbcba;
}

.simple_form button {
    background: #31748f;
}

.simple_form button:hover {
    background: #9ccfd8;
}

.simple_form .button, .simple_form button {
    background-color: #31748f;
}

.simple_form .button:hover, .simple_form button:hover {
    background-color: #9ccfd8;
}

.directory__tag > a, .hero-widget__text {
    background: #26233a;
}

.privacy-dropdown__option.active {
    background: #31748f;
    color: #e0def4;
}

.privacy-dropdown__option.active:hover {
    background: #9ccfd8;
    color: #e0def4;
}

.privacy-dropdown__option:hover {
    background: #9ccfd8;
    color: #e0def4;
}

.privacy-dropdown__option {
    background: #555169;
    color: #191724;
}

.compose-form__poll-wrapper {
    border-top: 1px solid #555169;
    background: #26233a;
    color: #e0def4;
}

.poll__footer {
    background: #26233a;
    color: #e0def4;
}

select {
    background: #26233a;
    color: #e0def4;
}

.emoji-mart-bar:first-child {
    background: #1f1d2e;
}

.emoji-mart-bar:first-child {
    background: #6e6a86;
}

.emoji-mart-anchor:hover {
    color: #e0def4;
}

.emoji-mart-search {
    background: #1f1d2e;
}

.emoji-mart-search input {
    background: #555169;
    color: #e0def4;
}

.emoji-mart-scroll {
    background: #1f1d2e;
}

.status__content a {
    color: #31748f;
}
